{% extends 'base/main.html' %}

{% block content %}

<div class="header-bar">
    <h1>Create Account</h1>
</div>

<div class="card-body">
    <form action="" method="POST">
        {% csrf_token %}
        <label style="color: whitesmoke;">{{form.username.label}} :</label>
        {{form.username}}
        <label style="color: whitesmoke;">{{form.password1.label}} :</label>
        {{form.password1}}
        <label style="color: whitesmoke;">{{form.password2.label}} :</label>
        {{form.password2}}

        <input style="margin-top: 10px;" class="button" type="submit" value="Create Account">
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
    
</div>

{% endblock content%}